%p
  Phone:
  %strong (902) 407-WILD (9453)

%p
  Email:
  %br
  General Inquiries:
  %a{:href => 'mailto:info@hopeforwildlife.net'}
    info@hopeforwildlife.net
  %br
  Book a Tour or Presentation:
  %a{:href => 'tours@hopeforwildlife.net'}
    tours@hopeforwildlife.net
  %br
  Volunteer Information:
  %a{:href => 'volunteer@hopeforwildlife.net'}
    volunteer@hopeforwildlife.net

%p
  Mail:
  %br
  Hope Swinimer, Director
  %br
  Hope for Wildlife Society
  %br
  5909 Hwy 207     
  %br
  Seaforth, NS   B0J 1N0 
