%p
  For wildlife emergencies, please call us at (902) 407-WILD (9453).
  Need help determining if an animal needs help? Click
  our Wildlife SOS link for more infomation.
%p
  Injured and Orphaned wildlife may be dropped off at the following locations.
  Click on the logos for a Google Maps
  listing of locations.

