%p.clear
  Injured and Orphaned wildlife may be dropped off at the following locations.
  Click on the logos for a Google Maps
  listing of locations.

.left
  %p
    %a{:href => 'http://maps.google.ca/maps/ms?hl=en&ie=UTF8&msa=0&msid=217069503400107738765.00049ac74386c417e64a4&ll=44.700142,-63.547411&spn=0.03087,0.104628&t=h&z=14&iwloc=00049ac74c737f3893b21', :target => '_blank'}
      %img{:src => '/images/drop_off_logos/homeward_bound.jpg', :width => 200}
  %p
    201 Brownlow Avenue – Unit 9
    %br
    Burnside
    %br
    Hours: 8am-8pm, 7 days/week

.left
  %p
    %a{:href => 'http://maps.google.ca/maps/ms?hl=en&ie=UTF8&msa=0&msid=217069503400107738765.00049ac74d04a313abe6f&ll=44.700142,-63.547411&spn=0.03087,0.104628&t=h&z=14&iwloc=00049ac750b400f7bde87', :target => '_blank'}
      %img{:src => '/images/drop_off_logos/metro_animal.jpg', :width => 200}
  %p
    201 Brownlow Avenue – Unit 32
    %br
    Burnside
    %br
    Hours: 8pm – 8am, 7 days/week

.left
  .left
    %p
      %a{:href => 'http://maps.google.ca/maps/ms?hl=en&ie=UTF8&msa=0&msid=217069503400107738765.00049ac750f93d2b592a8&ll=44.673048,-63.301506&spn=0.061769,0.209255&t=h&z=13&iwloc=00049ac764945eefba7ed', :target => '_blank'}
        %img{:src => '/images/drop_off_logos/hope_for_wildlife.jpg', :width => 200}

  .left
    %p
      5909 Hwy 207
      %br
      Seaforth
      %br
      Hours: June – August: 8am-8pm
      %br
      September – May:
      %br
      Please call ahead
