%p
  Our Learning Centre and Wildlife Gardens are open to visitors
  June-August, Monday-Saturday, 10am-4pm. During the off-season, or for groups
  larger than 10 people, please call us at (902) 407-9453 or email
  %a{:href => 'mailto:tours@hopeforwildlife.net'}
    tours@hopeforwildlife.net
  to schedule a visit at least 1 week before you
  would like to come.

%p
  Can't come to us? We can come to you!: We are pleased to offer presentations
  for your class or community group. Presentations are 60-90 minutes and
  feature our education animals! To book a presentation, please call us at
  (902) 407-9453 or email
  %a{:href => 'mailto:tours@hopeforwildlife.net'}
    tours@hopeforwildlife.net
  We are now taking
  bookings for spring 2011, so book now to avoid disappointment!
