%p
  %a{:href => "/images/camp_flyer.jpg", :target => "_blank"}
    %img{:src => "/images/camp_flyer.jpg", :width => 600, :style => "padding: 20px 0 20px 170px"}

-# %p
-#   We held our first ever daycamps during the summer of 2010 and they
-#   were a huge success! We're excited to offer them again for summer 2011.
-#   Check back in May for more information!

