%p
  Each Summer, the Hope for Wildlife Society takes on enthusiastic volunteers
  who are eager to learn about wildlife rehabilitation in an intense, 5-week
  hands-on learning experience.

%h4
  Positions for the 2011 season are available for the following dates:

%ul
  %li April 25th - May 27th
  %li May 9th - June 10th
  %li May 30th - July 1st

%p
  Sound like a perfect fit for you? Read on to find out more about these
  volunteer positions and how to apply.

%p
  Working alongside Wildlife Rehabilitator Staff, the Interns are responsible
  for feeding
  and caring for injured and orphaned wildlife, including small to medium
  mammals
  (raccoon, squirrel, fox, coyote) and songbirds, white-tailed deer, and birds
  of prey.
  Interns will be responsible to clean cages, work spaces, and equipment,
  administer first
  aid, basic therapy, and medications as prescribed by a veterinarian. Interns
  will also be
  responsible for observing and keeping records of the animals, as well as
  recognizing and noting any onset of illness.

%p
  Interns are also expected to perform minor maintenance duties including
  repairing
  existing animal units to ensure cages are secure from outside and inside
  intrusion, and
  keeping the grounds and units tidy to create a comfortable habitat for
  recovering
  wildlife.

%h4
  Main Duties

%ul
  %li Cleaning and disinfecting cages, work spaces, and equipment
  %li Preparing food and feeding animals on a schedule
  %li Feeding animals by gavage (a tube into the stomach) and hand-feeding
  %li Administering medications, basic first aid and fluid therapy to wildlife
  %li Capturing, handling, and restraining injured and orphaned wild animals
  %li Keeping animal records
  %li Observing and recording changes in an animals health or behavior
  %li Maintaining and tidying the grounds at the rehabilitation centre
  %li Some public education work
  %li Minor repairs of cages and enclosures
  %li Shifts are 6am - 230pm and 2pm-1030pm, 7 days/week.

%p
  Qualifications: Minimum age of 19. Current tetanus vaccination and good
  physical
  stamina and health. Excellent communication and interpersonal skills.
  Ability to work
  independently and as a team member. Experience in wildlife rehabilitation,
  wildlife
  management or animal care is beneficial but not required. Preference will be
  given to
  students studying in related fields or graduates looking to obtain work
  experience.
  Training is provided.

%p
  Benefits: Interns will learn about many of the species of Nova Scotia and
  get hands on
  experience caring for orphaned and injured wildlife. You will learn about
  the challenges
  our wildlife faces, and have the opportunity to share with others how they
  can help to
  decrease their impact on wildlife. Interns will be taught proper handling
  and feeding
  techniques and about zoonoses and prevention. Interns also get the
  opportunity to
  work outdoors in a beautiful rural setting.

%h4
  %strong ***HOUSING AND TRANSPORTATION***

%p
  Accommodations are unfortunately unavailable at this time. Applicants MUST
  have their
  own transportation. Shifts are 6am-230pm and 2pm-1030pm. Facility is in a
  rural area
  and public transportation does not meet the required schedule.

%h4
  How to Apply for an Internship:
%p
  Click
  %a{:href => '#'}
    HERE
  to download the Internship application. Once completed please
  email your application, your resume, and a cover letter to
  %a{:href => 'mailto:volunteer@hopeforwildlife.net'}
    volunteer@hopeforwildlife.net.

