%p
  Every spring, our nursery is flooded with baby birds and mammals. They need
  constant care starting at 6am right through until 11pm or later. Thanks to
  the
  %a{:href => "http://www.servicecanada.gc.ca/eng/epb/yi/yep/programs/scpp.shtml"}
    Canada Summer Jobs program
  and the
  %a{:href => "http://www.gov.ns.ca/econ/sep/"}
    Nova Scotia Student Employment Program
  we
  have been able to hire some extra help in the past for this very busy time
  of year.

%p
  Working at Hope for Wildlife is an experience like no other. Check out what
  some of our past summer workers have said about their time at Hope for
  Wildlife:

%p 
  n.(profiles to come)

%p
  Want to work for Hope for Wildlife? Check back in February for our summer
  job postings.
