%p
  Volunteers are the lifeblood of the Hope for Wildlife Society. Our
  volunteers help with everything including animal care, rescue and transport,
  fundraising, administration, and much, much more! If you would like to
  become a part of our team, click
  %a{:href => '#'}
    here
  to download an application. Once you
  have completed it, send it to
  %a{:href => 'mailto:volunteer@hopeforwildlife.net'}
    volunteer@hopeforwildlife.net.

  %h4
    Volunteer Opportunities Available:
%p
  We are looking for volunteers to create a province-wide rescue network. We
  need individuals all across the province who are willing to drive anywhere
  from 5 minutes to 5 hours to help a wild animal in need. Pick up volunteers
  must meet the following criteria:

%ul
  %li be at least 18 years of age
  %li have your own vehicle and valid driver's license
  %li
    be willing to travel to Dartmouth, NS to attend a volunteer training
    session (dates TBA)

%h4
  Volunteers are needed in or near the following locations:

%p
  South Shore: Hubbards, Chester, New Ross, Bridgewater, New Germany,
  Caledonia, Liverpool, Shelburne, Pubnico, Yarmouth

%p
  Valley: Metegan, Weymouth, Digby, Annapolis Royal, Middleton, Kentville,
  Windsor, Smith's Corner

%p
  Truro to Amherst and Fundy Shore: Truro, Debert, Oxford, Amherst, Economy,
  Parrsboro, Advocate Harbour, Apple River, Shulie, Joggins, Southampton,
  Springhill

%p
  Truro to Cape Breton and Northumberland Shore: New Glasgow, Antigonish,
  Mulgrave, Upper Stewiake, Trafalgar, Pictou, River John, Tatamagouche,
  Pugwash, Tidnish

%p
  Eastern Shore: Musquopdoboit Harbour, Megher's Grant, Middle Musquodoboit,
  Moose River, Ship Harbour, Tangier, Sheet Harbour, Moser River, Sherbrooke,
  Aspen, Port Bickerton, New Harbour, Port Felix, Canso, Guysborough

%p
  Cape Breton: Port Hawkesbury, Port Hood, Inverness, Margaree, Forest Glen,
  Cheticamp, Bay St. Lawrence, Ingonish, Englishtown, Sydney, Glace Bay,
  Louisbourg, Eskasoni, Forchu, St. Peters, Whycocomaugh, Baddeck
