%p
  The Hope for Wildlife Society is pleased to offer products from the following supporters:
 
%p.center
  %a{:href => 'http://cristinasdailypaintings.blogspot.com'}
    %img{:src => '/images/flowerpower.jpg', :width => 300}

%p.center
  %a{:href => 'http://www.shawnaerback.com/'}
    %img{:src => '/images/shawnaerback.png', :width => 300}

%p.center
  %a{:href => 'http://www.earthelementals.ca/'}
    %img{:src => '/images/eelogo.png', :width => 300}

%p 
  We also have a variety of Hope for Wildlife logo apparel, beautiful photographs, raccoon paintings, and much more!
 
%p
  Gift shop hours are June-August, 10am-4pm, Monday to Friday, or by appointment.

-# %p
-#  You can also shop online!

-# Click to browse our catalogue (link to come)
