%p
  As a sponsor, you will receive a sponsorship certificate, photo and story from an animal in your chosen category, information sheet of sponsored animal, and the addition of your name to the sponsorship registry.

