%p
  Our facility has very few paid staff, and relies heavily on our
  amazing volunteers. Here are a few of their bios.

= haml_partial "partials/_submenus", :locals => { :page => 'about/staff_and_volunteers', :submenus => @submenus, :columns => 2, :column_headers => nil }
