%p
  Hope For Wildlife Coordinator

%p
  Allison has been a volunteer at the Society since the summer
  of 2004 and was employed by the Society during the summers
  of 2007 and 2008. After graduating from Dalhousie University
  with a BSc., major in Biology, Allison was hired in December 2008.

%p
  As the Society’s Coordinator, Allison is responsible for 
  coordinating recruitment, training new volunteers and staff with
  the Society, and scheduling volunteers. She assists with organizing
  and conducting meetings, fundraisers, tours, and events. In
  November 2009, Allison attended the International
  Wildlife Rehabilitation Council International Education Symposium
  in Virginia Beach, VA. to obtain her Basic Wildlife Rehabilitation
  Certificate and to study advanced techniques in wildlife care.
