#blurb
  Hope for Wildlife Society - 5909 Highway 207, Seaforth, NS B0J 1N0 -
  (902) 407 WILD (9453)

#follow_us
  Follow us on Facebook and Twitter
  %a{:href => 'http://www.facebook.com/hopeforwildlife', :target => '_blank'}
    %img{:src => "/images/facebook_icon.png"}
  %a{:href => 'http://twitter.com/hopeforwildlife', :target => '_blank'}
    %img{:src => "/images/twitter_icon.png"}

%br.clear
