#blurb
  Hope for Wildlife Society - 5909 Highway 207, Seaforth, NS B0J 1N0 -
  (902) 407 WILD

#follow_us
  Follow us on Facebook and Twitter
  %img{:src => "/images/facebook_icon.png"}
  %img{:src => "/images/twitter_icon.png"}

%br.clear
