;; This buffer is for notes you don't want to save, and for Lisp evaluation.
;; If you want to create a file, visit that file with C-x C-f,
;; then enter the text in that file's own buffer.

#dropdown
  %ul
    %li.inline
      %h2
        %a{:href => "#"}
          CSS Drop Down Menus
      %ul.round
        %li
          %a{:href => "http://www.seoconsultants.com/tips/css/#cssmenus", :title => "SEO Consultants Directory"}
            CSS Hover Navigation
          %ul.round
            %li
              %a{:href => "../css-dropdown-menus.html", :title => "tanfa Introduction"}
                Intro for CSS Enthusiasts
            %li
              %a{:href => "index.html", :title => "Plain HTML Code"}
                Demonstration HTML
            %li
              %a{:href => "http://www.xs4all.nl/~peterned/csshover.html", :title => "whatever:hover file"}
                csshover.htc file

    %li.inline
      %h2
        %a{:href => "#"}
          Vertical CSS Pop-Out Menu
      %ul.round
        %li
          %a{:href => "http://www.seoconsultants.com/css/menus/vertical/", :title => "SEO Consultants Vertical Example"}
            SEO Consultants Sample
        %li
          %a{:href => "vs7.html", :title => "Complete Example"}
            tanfa Demo example
          %ul.round
            %li
              %a{:href => "vs1.html", :title => "Vertical Menu - Page 1"}
                Stage 1
            %li
              %a{:href => "vs2.html", :title => "Vertical Menu - Page 2"}
                Stage 2

    %li.inline
      %h2
        %a{:href => "#"}
          Horizontal Drop & Pop Menu
      %ul
        %li
          %a{:href => "http://www.seoconsultants.com/css/menus/horizontal/", :title => "SEO Consultants Directory Example"}
            SEO Consultants Sample
        %li
          %a{:href => "hs7.html"}tanfa Demo example
          %ul
            %li
              %a{:href => "index.html#"}
                tanfa Tutorial
              %ul
                %li
                  %a{:href => "hs1.html", :title => "Horizontal Menu - Page 1"}
                    Stage 1
                %li
                  %a{:href => "hs2.html", :title => "Horizontal Menu - Page 2"}
                    Stage 2
