%p
  The Hope for Wildlife Society would like to acknowledge the following "In Honour Of" donations.

%p
  Please Note:  All donations made in honour of someone will be acknowledged on the website.  Please include your own name if you want it included in the acknowledgement on the site.  If you make a donation in honour of someone and would like a card sent from the Society to acknowledge your donation, please provide full name and address details with your donation. Please note that cards will be received by the named recipient approximately 10 to 15 business days after your donation request is made.
 
%p
  All donations are listed in alaphabetical order.

.greybox.span-15
  %p.center
    2010 DONATIONS MADE IN HONOUR OF:
 
  %p
    <strong>Mrs. Elsie Crosby: in honour of your birthday</strong> - By Mavis & Anthony Haycock

  %p
    <strong>Cruddas, Janice</strong> - By the parents of the children in Janice Cruddas's MITE-Y drama group. 

  %p
    <strong>Darney, Kathleen</strong> - In honour of your 90th birthday 

  %p
    <strong>Dr. Fred Harrington</strong> - In recognition of your retirement from Mount Saint Vincent University, by The Department of Psychology at MSVU

  %p
    <strong>Fitzgerald, Belinda E. "Binny"</strong> - By Michele Gaudet

  %p
    <strong>Grossmann, Marcel & Ruth: in honour of your birthday</strong> - By Charlotte & Hannsjorg Tischler

  %p
    <strong>Tricia & Duncan</strong> - From your families in Ontario

  %p
    <strong>Waddy, Maxine</strong> -  By Lisa Rhuland

%br.wide.clear

%p.small
  All donations made in honour of an individual or pet will be acknowledged on our website. If you would like to make an annual or one-time donation in honour of an individual or pet, please give full details when making your donation.
