= haml_partial "partials/_editable", :locals => { :edit_id => 3 }

.greybox.span-15
  = haml_partial "partials/_editable", :locals => { :edit_id => 4 }

%br.clear
%br.clear

.greybox.span-15
  %p.center
    2010 DONATIONS MADE IN HONOUR OF:

  %p
    %strong
      Dr. Frances Bail 
      \-- Love Dwight & Sheila Kaiser
  %p
    %strong
      Andy & Kim Brockamp 
      \-- by Nicki Brockamp
  %p
    %strong
      Meredith Brown 
      \-- by Raphael Friess, Alana Green, and Ryan Walker
  %p
    %strong
      Case/Kent Family 
      \-- by Moka Micelle Case
  %p
    %strong
      Mrs. Elsie Crosby: in honour of your birthday 
      \-- By Mavis & Anthony Haycock
  %p
    %strong
      Janice Cruddas 
      \-- by the parents of the children in Janice Cruddas's MITE-Y drama group.
  %p
    %strong
      Kathleen Darney 
      \-- In honour of your 90th birthday
  %p
    %strong
      Dawn 
      \-- by Rhys Courtman
  %p
    %strong
      Linda, George, Colin & Max Ebbeson 
      \-- by Davina Ebbeson
  %p
    %strong
      Alison Etter 
      \-- by Robin Stadnyk
  %p
    %strong
      Fitzgerald, Belinda E. "Binny" 
      \-- By Michele Gaudet
  %p
    %strong
      Marni Grant 
      \-- Love Gail & Barry Crozier
  %p
    %strong
      Marcel & Ruth Grossmann: in honour of your birthday 
      \-- By Charlotte & Hannsjorg Tischler
  %p
    %strong
      Harnish (the Kitty) 
      \-- by Phylis Kirchner
  %p
    %strong
      Dr. Fred Harrington: In recognition of your retirement from Mount Saint Vincent University, by The Department of Psychology at MSVU
  %p
    %strong
      R. Lester Jesudason & Moneesha Sinha: In honour of your marriage 
      \-- Love Kathy Chisholm
  %p
    %strong
      Martins, McNeils, (MacDonalds, Hanns, Deals) Innocents & Simpson 
      \--  by Lindsay Martin
  %p
    %strong
      Robin McCallum Hewitte 
      \-- by Bruce McCallum
  %p
    %strong
      Evelyne & Tim Moore 
      \-- by Reg Gibson
  %p
    %strong
      Mum 
      \-- by Cathy Negus
  %p
    %strong
      Bert Palmeter: in honour of your 100th birthday. Love Lorraine Margeson
      Lane Pittman: in honour of your third birthday. Love Grace & Lily
      Dr. & Mrs. Edward Thomson 
      \-- by Joan
  %p
    %strong
      Tricia & Duncan 
      \-- From your families in Ontario
  %p
    %strong
      Maxine Waddy 
      \-- by Lisa Rhuland
  %p
    %strong
      Gilbert Wagner 
      \-- by Bell Aliant
  %p
    %strong
      Yeti 
      \-- by Marni Gent
  %p
    %strong
      Elaine Zaichkowsky 
      \-- by Adrienne Maynard

%br.wide.clear

%p.small
  All donations made in honour of an individual or pet will be acknowledged on our website. If you would like to make an annual or one-time donation in honour of an individual or pet, please give full details when making your donation.
