= haml_partial "partials/_editable", :locals => { :edit_id => 1 }

.greybox.span-15
  = haml_partial "partials/_editable", :locals => { :edit_id => 2 }
%br.clear
%br.clear

.greybox.span-15
  %p.center
    2010 DONATIONS MADE IN LOVING MEMORY OF: 

  %p
    %strong
      Terry Atwell 
      \-- by Danny & Cathy Poole
  %p
    %strong
      Alicia Balcom 
      \-- By Barbara Bennett
  %p
    %strong
      Faye Bradley 
      \-- By William Archer, Rick & Liz Carten, Margaret Clark, Robert & Ruth Clark, Harry & Barb Corbin, Margaret Green, Gail Logie, Susan MacLeod, John Allen, & Joan Morrison
  %p
    %strong
      Joyce Burke 
      \-- by Brian March
  %p
    %strong
      Dianne Cleveland 
      \-- By Harry & Barbara Corbin
  %p
    %strong
      John Joseph "Jack" Crocker 
      \-- By Jocelyn Pascoe
  %p
    %strong
      Cheryl Cross 
      \-- by Shawn Hilchie
  %p
    %strong
      Betty Curran 
      \-- by William & Patricia Curran and Margaret McLellan
  %p
    %strong
      "Jennie" Genia Derrick 
      \-- By John Filliter, Graham Creighton Junior High School, B.M. Paris Incorporated, Katrzyna Rolska & Felicja Seitz, & Clevie Wall
  %p
    %strong
      Debbie DeMone 
      \-- Publicover - By Pam, Jeffrey, Lisa-Jane Demone
  %p
    %strong
      Mary Ellen Duchesne (Watts) 
      \--  by Bell Aliant NS Business Team
  %p
    %strong
      Adam & Joyce, Edgar & Hannah Dwyer  
      \-- By Merv & Natalie Edinger
  %p
    %strong
      Bea Hatcher 
      \--- by The Kooyman Family
  %p
    %strong
      JJ (Jean) Jones 
      \-- By Reginald J. Jones (see picture below)
  %p
    %strong
      Henk Karsten 
      \-- By Al Harding & Michele Zwarun
  %p
    %strong
      Arnold Langille 
      \-- By Thelma Ernst, & the staff of the Comox Valley School District and the Board of Education
  %p
    %strong
      Bill Lockhart 
      \-- by Colleen & Larry Gumbley, Chang & Judy Lin, Ian Forsyth Elementary School, Ben & Nancy Fullerton, Barbara & Robert Burns, Marilyn Challis, David & Jennifer Chown, Eve Williams, Waverley Heritage Society, The Haworth Family, Peter & Andrea Stoffer, Roy Blakney & Sue Bishop, Keith Gerry Hines, Carol & Dennis Horsfall, Doreen Campbell, Lorrie Dickey, Bev & Dave Cochrane, Inteplast Bags & Film Corp., Kathryn Jarrett, Anthony & Valerie Hunter, Anne & Lester Mansfield, Aniko Dunford, Erin Kuttner, Diane and Allan Swaney, and Marie Lightbown
  %p
    %strong
      Marie MacDonald 
      \-- By Bob & Debra Johnson
  %p
    %strong
      Cyrilla MacPhee 
      \-- By Al Harding & Michele Zwarun
  %p
    %strong
      Margo Marshall 
      \-- by Jean Miller
  %p
    %strong
      Lawrence Christopher "Kitt" Mason 
      \-- By Rose Wessel
  %p
    %strong
      Ian Andrew McLauchlan 
      \-- by Gail & Gordon McLauchlan
  %p
    %strong
      David Miller 
      \-- by Fran Bazos
  %p
    %strong
      Al Mitchell 
      \-- by Robert & Marina Young
  %p
    %strong
      Bob Morrow 
      \-- by Linda Bergstrom-MacDonald
  %p
    %strong
      Lynne Murphy 
      \-- by Patricia MacDonald
  %p
    %strong
      Mackenzie Oram 
      \-- By Peter Oram
  %p
    %strong
      Carmel Payne 
      \-- By Tara Barnett, Fleet Diving Unit Atlantic, Linda Martin & Al Brewer, Ashley Mawhinney, Deborah Puddicombe, Wendy Seemel, Mona and George, & the Whitlock family
  %p
    %strong
      Ruth Pettitt 
      \-- By her brother, Lowell Blood (See photo below)
  %p
    %strong
      Donna Ross 
      \-- By Judith Gass
  %p
    %strong
      Skeeter 
      \--by Shirley Rozee
  %p
    %strong
      Sweet Pea 
      \-- By Stephen Lukas & Peter Mallette
  %p
    %strong
      Tequila 
      \-- By Michele Zwarun & Al Harding
  %p
    %strong
      John Trussler 
      \-- by Donna Trussler
  %p
    %strong
      Tucker 
      \-- by Julia Cornish
  %p
    %strong
      Tyler Sampson Silent Hero Memorial Fund 
      \-- by Janice Sampson
  %p
    %strong
      Ralph Wade 
      \-- By Admiral Westphal Elementary School
  %p
    %strong
      Dr. Jeri Wine 
      \-- By Marguerite Overington

%br.wide.clear
%br.wide.clear
%br.wide.clear

%h2
  In loving memory of

%h3
  Beta
.img_container
  %img{:src => '/images/in_memoriam/bobbie_beta.gif'}
%br.clear
%p
  Everyone at the Society was saddened to learn of the passing of Beta, a long-term supporter of our Society and beloved pet of Society volunteers Bobbie Wilson and Karla Henderson. Beta will be sadly missed by all.

%h3
  AISNE LILLE 'ANN' BURLEY
  1914 - 2007
.img_container
  %img{:src => "/images/in_memoriam/annburley.gif", :width => 250}
%br.clear
%p
  Aisne Lille "Ann" Burley, aged 93, Dartmouth, passed away December 16, 2007. Born September 15, 1914, in Seven Kings, Essex, England, she was a daughter of the late Herbert and Eleanor (Williams) Simons. Ann, Bill and their son Grant immigrated to Canada in 1958, residing in Waverley. They moved to Westphal in 1962 where they built the family home. Ann and Bill moved to Greenfield Park, Que., in 1967 and remained there until their retirement in 1981 at which time they returned to their family home. They enjoyed travelling, ballroom dancing and gardening. After Bill's passing in 1988 Ann remained in the family home where she enjoyed entertaining family and friends who will greatly all miss her. 

%h3
  JOAN & PHILIP CORKUM
.img_container
  %img{:src => '/images/in_memoriam/corkumweb.jpg', :width => 250}
%br.clear
%p
  Donation made in loving memory of Joan and Philip Corkum by Lynda Corkum: They both loved wildlife, and watching the wild birds at the feeders outside their window was one of their biggest pleasures near the end of their lives.

%h3
  SHEILA (ROBINSON) FERGUSON
.img_container
  %img{:src => '/images/in_memoriam/sheila.jpg', :width => 250}
%br.clear
%p
  Newby— 78, Born 1931, in Lancashire England, died peacefully at home surrounded by her family on July 22, 2009 in Dartmouth. She was the daughter of Steve and Lily Robinson; survived by her loving sister Mrs. Jean (George)Stewart, Crayford, Kent; Aunt of Elizabeth, David, Alistair, William, Rosemary, Andrew and James, all residents of the United Kingdom. Sheila trained as a nurse at the London Hospital inWhite Chapel, England. In the spring of 1956 Sheila immigrated to Canada sailing from Liverpool on the steamship Saxonia, arriving at Pier 21 in Halifax. She worked at theToronto General Hospital and the T B Sanatorium, Vancouver, BC. Married David E. Ferguson and together they raised a family inVancouver, London, Saskatoon, settling in Nova Scotia. Sheila's greatest joy was being a Mother of Neil Ferguson (predeceased 2004, aged 45), Cathy Ferguson, Dartmouth, Brenda (David) Jacobsen, Darien CT; Craig (Mary) Ferguson, Lunenburg; Linda (Doug) Clapp, Rochester NY. Sheila was an advocate for people suffering from mental illness and volunteered many hours to help others throughout her lifetime. She played Scrabble on the computer and solved crypto quotes found in the daily newspaper. Sheila loved her small supportive group of clergy wives, a good book and a cup of tea; and was a longtime patron of the Woodlawn Public Library. She was a Community member of Northwood Manor in Halifax and spent many happy hours attending classes and met many interesting people. She will be missed by her four grown children and her six grandchildren; Ingrid, Rosemary and Rachael (CT), Henry and David (NY) and Tessa (NS). Sheila's children will remember her laughter; quick wit; love of literature; her "way" with words.

%p
  Sheila was a life long nature and animal lover. She enjoyed living with Cathy's dogs, Cody and Cole, and her sweet cat, Foggy who she rescued at Fishermans' Reserve. Sheila loved visiting Hope for Wildlife and Lawrencetown Beach. She had a big heart for all creatures great and small and always appreciated the Hope for Wildlife center.

%p
  Thank you

%p
  Brenda and Cathy Ferguson

%h3
  F. JAMES (JIM) HINKS
.img_container
  %img{:src => '/images/in_memoriam/fjameshinks.jpg', :width => 250}
%br.clear
%p
  HINKS, Frederick James (Jim) - 69, Dartmouth, passed away Thursday, July 17, 2008, in Dartmouth General Hospital. Among his many talents, Jim was a talented artist and an avid sportsman, sports writer, firearms instructor and champion clay target shooter. He will be sadly missed by his friends and family.

%h3
  JJ (JEAN) JONES
.img_container
  %img{:src => '/images/in_memoriam/jj.jpg.w180h278.jpg', :width => 180}
  %img{:src => '/images/in_memoriam/jjsfamily.jpg.w300h243.jpg', :width => 250}
%br.clear
%p
  
%h3
  IN LOVING MEMORY OF ARNOLD LANGILLE
.img_container
  %img{:src => '/images/in_memoriam/arnoldlangille.jpg', :width => 250}
%br.clear
%p

%h3
  ELIZABETH E. LEADER
.img_container
  %img{:src => '/images/in_memoriam/eleaderweb.jpg', :width => 250}
%br.clear
%p

%h3
  IN LOVING MEMORY OF
  %br
  Lawrence Christopher "Kitt" Martel Mason
%br.clear
%p

%h3
  OONAGH
  %br
  OF LITTLE MYSTERIES BOOKSTORE
.img_container
  %img{:src => '/images/in_memoriam/oonaughandruby.jpg', :width => 250}
%br.clear
%p
  Oonagh was a supporter and fundraiser of the Hope for Wildlife Society, along with her owners, Vanessa and Tim. Oonagh will be greatly missed by all her friends.

%h3
  Pal
.img_container
  %img{:src => '/images/in_memoriam/pal.jpg', :width => 250}
%br.clear
%p
  For the love of an old, abused and abandoned Dog:
 
%p
  "Pal", as we named him, was found on our property starving and near death when we took him in on August 18th, 2007.  He was so weak he couldn't take three steps without falling over.  He had our hearts right from the start.   This old guy was never walked, left chained somewhere and didn't have any idea what play was.  He had vocal cord damage and his bark sounded more like a seal going off, probably due to the heavy chain found around his neck.  So began his long recovery.  In the beginning, he wouldn't put his paw on the mat I laid out for him and would squint his eyes if you raised your arms as if he were bracing for a hit.   We started by walking him around the house once since that was all he could muster.  It took several months, and a lot of patience, but Pal's recovery made our hearts sing.  Within six months, he was running with a big grin on his face.  Although Pal was only with us for one year and eight months, his impact on us was great.  He learned that it was safe to lay on his mat, that he could run with such joy and eventually got a vague idea what play meant.  Some people said he was old and not worth saving, but the joy he brought to our lives will remain with us forever.   

%p
  Barbara Cronk and Michael Dennis

%h3
  RUTH PETTITT
.img_container
  %img{:src => '/images/in_memoriam/ruth.jpg.w300h348.jpg', :width => 250}
%br.clear
%p

%h3
  MAGDA RITTER
.img_container
  %img{:src => '/images/in_memoriam/magdaritter.jpg', :width => 500}
%br.clear
%p

%h3
  Tyler Sampson
.img_container
  %img{:src => '/images/in_memoriam/tyler.jpg.w300h425.jpg', :width => 250}
%br.clear
%p

%h3
  "SANDY" CONNORS
.img_container
  %img{:src => '/images/in_memoriam/sandy.jpg.w300h199.jpg', :width => 250}
%br.clear
%p

%h3
  WILLIAM (BILL) SUTCLIFFE
  %br
  & ELIZABETH (LIZ) SUTCLIFFE
.img_container
  %img{:src => '/images/in_memoriam/sutcliffeweb.jpg.w300h209.jpg', :width => 250}
%br.clear
%p

%h3
  JOHN A.W. TRUSSLER 
  %br
  1931 - 2007
.img_container
  %img{:src => '/images/in_memoriam/johntrussler.jpg', :width => 250}
%br.clear
%p
  John Albert William Trussler of East Lawrencetown, passed away suddenly on Monday, September 17, 2007, surrounded by loving family and friends in Dartmouth General Hospital. Born in Surrey, England, July 14, 1931, he was the son of the late Jack and Clara (Punter) Trussler. John is survived by his beloved wife, Donna; sisters, Joan (Danny), North Sydney; Sheila (Mick), England; mother-in-law, Jennie MacKinnon, Upper Leitches Creek; and several nieces and nephews. He will also be missed by his Bearded Collie and constant companion, Zoe. In recognition of John’s love of birds and animals, donations to the Hope for Wildlife Society, 5909 Highway 207, Head of Chezzetcook, NS, B0J 1N0, or any charity of your choice would be greatly appreciated. 

%p
  %strong
    The following donations have been made in John's memory:

%p
  Mary Astepehn, Robert & Janet Blakeney & Angel, George & Lovelette Borden & Sullivan, Sherri & Aaron Boutilier, Shirley Christison, Ruth Conrad, Ursula Dufour, Palma Graham & Aulden Campbell, Win & Laurie Harris, Alma Johnson, Alice MacDonald, Donna Jean MacKinnon & Richard Kwan, Jeannie MacKinnon, Colleen Mahoney, Margaret Nause, Donna Trussler, Mark Sova & Charlene Walton.

%p.small
  All donations made in memoriam will be acknowledged on our website. If you would like to make an annual or one-time donation in memory of a loved one (person or pet), please give full details when making your donation and please provide a photograph (print or digital) if you would like it published on this page.
