%p
  As a sponsor, you will receive a sponsorship certificate, photo and story from an animal in your chosen category, information sheet of sponsored animal, and the addition of your name to the sponsorship registry.

.greybox.span-15
  %p.center
    %strong DECEMBER 2010 SPONSORSHIPS

  %p.center
    %strong $150 Level 

  %p
    Donna and Freeman Anderson – Bobcats

  %p
    Margaret and Jim Clarkson – Raptors

  %p
    Hallie Mosher from Amanda Mosher – Deer/Moose

  %p
    Josh Stevens from Margaret Stevens – Deer/Moose

  %p
    Frank Kempster – Owls

  %p
    Jocelyn Pascoe – Deer/Moose

  %p
    Pat Rowell – Deer/Moose

  %p
    Shelby Reid – Raptors

  %p
    Shelby Reid – Owls

  %p
    Downsview Veterinary Hospital  – Deer/Moose

  %p
    Mike and Mary Watchuk – Mustelids

  %p
    J. MacLellan – Owls

  %p
    Ina Hofmann-Fossa from Bob Fossa – Owls

  %p
    David, Karmin, and Elizabeth Bedley – Owls

  %p
    Adele Belliveau – Raptors

  %p
    Companion Animal Hospital –  Bobcats

  %p
    Companion Animal Hospital –  Raptors

  %p
    Patricia Alguire – Owls

  %p
    Christina Dadford – Bobcats

  %p
    Catherine Izard– Bobcats

  %p
    Barbara Carbin – Bobcats

  %p
    Jean Dickson– Owls

  %p
    Margaret Tutert-Bond– Raptors

  %p.center
    %strong $100 Level

  %p
    Bonnie Johnson – Seals

  %p
    Sheila Bowen – Foxes

  %p
    Shelby Reid – Seals

  %p
    Paulette and David Anderson from C.J. and Arlene MacMullin – Raccoons

  %p
    Vernon Pelton – Squirrels and Chipmunks

  %p.center
    %strong
      $75 Level

  %p
    Francis Cirtwill – from Kim and Kristi Cirtwill and Kate and Sean Davis – Sea/Shorebirds

  %p
    Ricky Choi – Snowshoe Hare

  %p
    Rebecca Winn – Ducks/Geese

  %p
    Anne Fawcett – Sea/Shorebirds

  %p
    Joanne Creelman – Songbirds

  %p
    Gail Logie from Ian Logie- Sea/Shorebirds

  %p
    Christoph and Pierrette Suter from Charlie and Hanns Tischler – Crows/Ravens

  %p
    Ralph MacLean – Crows/ Ravens

  %p
    Mattea Kemp from Mary Davidson – Sea/Shorebirds 
 
  %p.center
    %strong
      JANUARY 2011 SPONSORSHIPS

  %p.center
     %strong
       $150 Level

  %p
    Lola Doucet – Raptors

  %p
    Paula Cornwall - Bobcats 
 
