%p
  Below are recent news articles on the Hope for Wildlife Society. 

%p
  If you would like to arrange an interview with Hope Swinimer for publication, please contact her at 902-452-3339. 

%hr

%p.center
  The Hope for Wildlife Society invites you to visit "An Outdoor Notebook", a nature blog by a retired journalist and teacher.  To visit the blog, please click on the link below: 

%p.center
  %a{:href => "http://anoutdoornotebook.blogspot.com/", :target => "_blank"}
    An Outdoor Notebook

%br
%br
%br
%br

%hr

%p.center
  %a{:href => "http://www.metronews.ca/halifax", :target => "_blank"}
    %img{:src => "/articles/news/metrologo.jpg"}
%p.center
  %img{:src => "/articles/news/metroarticle2010.jpg"}
%p.center
  Please click on the CBC logo below to see a short video clip involving Hope Swinimer, several volunteers from the Hope for Wildlife Society, and moving Emden Geese from Sullivan's Pond.  This footage is from CBC.ca, and is not the actual footage that aired on TV. 
%p.center
  %a{:href => "http://www.cbc.ca/video/#/News/Local_News/NS/ID=1362923596", :target => "_blank"}
    %img{:src => "/articles/news/cbc.jpg"}
%p.center
  %img{:src => "/articles/news/dalhouse1.jpg"}
  %br
  %img{:src => "/articles/news/dalhouse1.jpg"}
%p.center
  Below are two versions of the same picture from our Open House that appeared in MetroNews.ca on August 31st.
%p.center
  %img{:src => "/articles/news/elizabethhawk1.jpg"}
  %br
  %img{:src => "/articles/news/elizabethhawk2.jpg"}
%p.center
  %img{:src => "/articles/news/sweetskunk.gif"}
  %br
  %img{:src => "/articles/news/sweetskunk2.gif"}
%p.center
  %img{:src => "/articles/news/chronicleherald_logo.gif"}
%p.center
  %img{:src => "/articles/news/glorystory.jpg"}
%p.center
  %img{:src => "/articles/news/chronicleherald_logo.gif"}
%p.center
  %img{:src => "/articles/news/raccoonarticle.jpg", :width => 700}
%p.center
  %img{:src => "/articles/news/chronicleherald_logo.gif"}
%p.center
  %img{:src => "/articles/news/raccoonse1.jpg"}
  %br
  %img{:src => "/articles/news/raccoonse2.jpg"}
%p.center
  The following article is from a recent edition of Pet Country Magazine:
%p.center
  %img{:src => "/articles/news/pet_country1.jpg"}
  %br
  %img{:src => "/articles/news/pet_country2.jpg"}
%p.center
  Look for the following article in the upcoming issue of The Eastern Gazette:
%div{:style => "border: solid #000 2px; background-color: #ccc; width: 70%; margin-right: auto; margin-left: auto"}
  %div.float_left{:style => "width: 60%; padding-right: 5px;"}
    %p
      A New ‘Peace’ of History for Nova Scotians
    %p
      By Catherine Roberts
    %br
    %p
      When all humanity is free of war and strife, we shall never again be moved to ask, “What does peace look like?” But until that day, hundreds of thousands of Peace Poles, erected in more than 180 countries, stand in honour of that dream. Proudly, Seaforth, Nova Scotia is home to one of the latest inspirational installments.
    %p
      The event took place at the Hope for Wildlife Society’s new wildlife garden on September 21, the International Day of Peace. It is the first of its kind in Nova Scotia.
    %p
      Conceived by Hope Swinimer, the society’s founder, the Peace Pole ceremony included citations from some of the worlds’ most famous speeches, including Dr. Martin Luther King Jr.’s Dreams of Brighter Tomorrows.
    %p
      Punctuated with prayer, poem recitals and music, the event featured native speakers reciting the peace prayer, May Peace Prevail on Earth, in their own language. The Peace Pole features the prayer in eight languages: English, French, Scottish Gaelic, M’ikmaq, Mandarin Chinese, Arabic, Pashtu, and Japanese.  The ceremony ended with the release of a majestic Bald eagle, one of the society’s many success stories of rescue and rehabilitation.
    %p
      Some people may wonder what a Peace Pole has to do with wildlife, but for one long time wildlife supporter, it’s a perfect match.  "To me the pole represents the wish for peace on earth," says Swinimer, "which includes not only peace with your fellow man, but peace with nature and all that lives on earth."
    %p
      The inspiration came last fall while touring a small rehab/wildlife centre in the Amazon. Swinimer and her companions were drawn to a pole in a display area adorned with script of many languages.
    %br
    %br
    %p.center
      %img{:src => "/articles/news/peacepole2.jpg", :width => 200}
    %p.center{:style => "font-size: smaller"}
      Photo: MITE (Meaningful Intelligent Theatrical Entertainment) a young people’s chorus sings, This Pretty Planet/One Voice.
    %br.clear
  %div.float_left{:style => "width: 35%"}
    %p
      %img{:src => "/articles/news/peacepole1.jpg", :width => 200}
    %p{:style => "font-size: smaller"}
      Photo: Jon Stone recites the poem, Path to Peace, at the Hope for Wildlife Society’s wildlife garden – site of Nova Scotia’s first Peace Pole.
    %p
      Swinimer’s brother, who had seen a similar pole at the base camp of Mt. Everest a week earlier, recognized its significance. That led to more investigation and eventually to the ceremony in Seaforth.
    %p
      The Hope for Wildlife Society is run largely by a group of dedicated volunteers. These caring souls came up with a unique design, which includes animal tracks and the language of our province’s native people.
    %p
      Henceforth, the Peace Pole will be a permanent added attraction to the society’s new wildlife garden. The display will be open to the public throughout the week during June, July and August from 10-5p.m. (closed on Sundays).
    %p
      The World Peace Prayer Society in Japan started the Peace Pole program in 1955 in response to the tragedies of WW11 and the nuclear bomb. The events of 9/11 sparked an immense surge in the installment of these monuments to peace.
    %p
      The WPPS now operates from New York and has become a non-governmental organization (NGO) in affiliation with the Department of Public Information of the United Nations.
    %p
      For more information about the World Peace Prayer Society, log on to www.worldpeace.org.
    %p
      The Hope for Wildlife Society web site contains a host of information on the rehabilitation centre and up-coming events. Visit: www.hopeforwildlife.net today. Peace to all.
    %br.clear
  %br.clear
%br.clear
%p.center
  The following article was taken from the current issue of Touchbase Magazine, a publication for immigrants:
%p.center
  %img{:src => "/articles/news/peacepole.jpg"}
%p.center
  %img{:src => "/articles/news/chronicleherald_logo.gif"}
%p.center
  %img{:src => "/articles/news/baird_hope_salty.jpg"}
%p
  Federal Environment Minister John Baird pets Salty the owl Wednesday as it's held by Hope Swinimer, founder and director of the Hope for Wildlife Society, after the Deep Cove forest preservation announcement at Point Pleasant Park on Wednesday.  (INGRID BULMER / Staff)
%br
%br
%p.center
  %img{:src => "/articles/news/chronicleherald_logo.gif"}
%p.center
  %img{:src => "/articles/news/hopepg1.gif"}
  %br
  %img{:src => "/articles/news/hopepg2.gif"}
%p.center
  %img{:src => "/articles/news/hope_award_eg.jpg"}
%div{:style => "margin-right: auto; margin-left: auto; width: 70%; background-color: #ccc; border: solid #000 2px;"}
  %p.center{:style => "font-size: larger; font-weight: italic;"}
    Special Announcement!
  %p
    Everyone at the
    %strong
      Hope for Wildlife Society
    would like to extend their congratulations to our founder and director
    %strong
      Hope Swinimer
    for winning the prestigious Roland Michener Conservation Award.
  %p.center
    %img{:src => "/articles/news/hope_michener_award.jpg"}
  %p{:style => "font-size: smaller;"}
    Hope Swinimer receiving the 2008 Roland Michener Conservation Award from Mr. Pat Doyle, Chairman of the Board of Directors for the Canadian Wildlife Federation.
  %p
    This award is presented to an individual who has demonstrated an outstanding commitment to conservation through effective and responsible activities that promote, enhance and further the conservation of Canada's natural resources.
  %p
    Hope is well known in the international wildlife rehabilitation community and has visited rehabilitation facilities in North America, Europe, Africa, the Middle East, Southeast Asia and Australia, bringing valuable knowledge of other rehabilitation practices to our facility.  She has also taken a number of advanced courses in wildlife rehabilitation and is a Project WILD Instructor.
  %p
    Hope's work at our facility has been profiled in not only local, but also in international media (print, radio and television).  In addition, she serves on a number of boards and is the member of a number of organizations.
  %p
    %strong
      Boards
  %p
    Hope for Wildlife Society
    %br
    Nova Scotia Wildlife Society
    %br
    Grey Seal Conservation Society
    %br
    MARS (Marine Animal Rescue Society)
    %br
    Atlantic Veterinarian Management Group
  %p
    %strong
      Memberships
  %p
    International Wildlife Rehabilitation Council
    %br
    Canadian Wildlife Federation
    %br
    National Wildlife Rehabilitation Association
    %br
    CVPM (Certified Veterinarian Practice Manager Association)
    %br
    VHMA (Veterinarian Hospital Managers Association)
    %br
    Halifax Wildlife Association
    %br
    South Shore Naturalists Group
    %br
    Project Colours
%p.center
  %img{:src => "/articles/news/chronicleherald_logo.gif"}
%p.center
  %img{:src => "/articles/news/hope_award_text.gif"}
%p.center
  %a{:href => "http://www.easterngazette.ca/", :target => "_blank"}
    %img{:src => "/articles/news/eg_banner_june08.jpg"}
%p.center
  %img{:src => "/articles/news/eg_toasty_june08.jpg"}
%p.center
  %img{:src => "/articles/news/text_june08.jpg"}
%p.center
  %img{:src => "/articles/news/eg_may08.jpg"}
%p.center
  %img{:src => "/articles/news/chronicle_metro.gif"}
%p.center
  %img{:src => "/articles/news/ch_article.gif"}
%p.center
  %img{:src => "/articles/news/easterngazetteaprilbanner.jpg"}
%p.center
  %img{:src => "/articles/news/salty_story.gif"}
%p.center
  %img{:src => "/articles/news/eglogo.gif"}
%p.center
  %img{:src => "/articles/news/egmarch2008.gif"}
%p.center
  %img{:src => "/articles/news/bmac_feb_08.gif"}
%p.center
  %img{:src => "/articles/news/bmac_feb_08_pg2.gif"}
%p.center
  %img{:src => "/articles/news/eastern_gazette_feb_08.gif"}
%p
  %strong
    WATCH THE EAGLE RELEASE AND READ THE ARTICLE BELOW THE VIDEO FOR THE FULL STORY!
  Please note that the additional (related) videos offered at the end of this video are not Society videos but YouTube chosen videos.
%p.center
  %object{:width => 425, :height => 355}
    %param{:name => "movie", :value => "http://www.youtube.com/v/EAXcd0Zi15A"}
    %param{:name => "wmode", :value => "transparent"}
    %embed{:src => "http://www.youtube.com/v/EAXcd0Zi15A", :type => "application/x-shockwave-flash", :wmode => "transparent", :width => 425, :height => 355}
%p.center
  %img{:src => "/articles/news/finallyflyinghigh.gif", :width => "70%"}
%p.center
  %img{:src => "/articles/news/tch_duffy_pg1.gif", :width => "70%"}
%p.center
  %img{:src => "/articles/news/tch_duffy_pg2.gif", :width => "70%"}
%p
  January 2008 - The Hope for Wildlife Society was presented with a cheque by Allie Freeman on behalf of Astral Elementary School. The Society greatly appreciates the fundraising efforts of all the children and welcomes all such efforts on its behalf. The funds raised by the children will help with the Society's rehabilitation and education programs.
%p.center
  %img{:src => "/articles/news/astralelementary.jpg"}
%p.center
  %img{:src => "/articles/news/jan1708part1.gif"}
%p.center
  %img{:src => "/articles/news/jan1708part2.gif"}
%p.center
  %img{:src => "/articles/news/eastern-gazette-jan-08.gif"}
%p.center
  %img{:src => "/articles/news/easterngazettesweetpea.gif", :width => 700}
%p.center
  %img{:src => "/articles/news/tracynelson.gif", :width => 700}
%p.center
  %img{:src => "/articles/news/easterngazetteoct07.jpg"}
%p.center
  %img{:src => "/articles/news/easterngazettesept07.jpg"}
%p.center
  %img{:src => "/articles/news/heraldaug07.jpg", :width => 450}
%p.center
  %img{:src => "/articles/news/gazettejuly.jpg", :width => 450}
%p.center
  %img{:src => "/articles/news/redbilledtropicalbird.jpg", :width => 500}
%p.center
  %img{:src => "/articles/news/turtle2.jpg"}
%p.center
  %img{:src => "/articles/news/dunloppg1.jpg"}
%p.center
  %img{:src => "/articles/news/turtle3.jpg"}
%p.center
  %img{:src => "/articles/news/dunloppg2.jpg"}
%p.center
  %img{:src => "/articles/news/janetzed.jpg"}
%p.center
  %img{:src => "/articles/news/heraldw.jpg", :width => 500}
%p.center
  %img{:src => "/articles/news/feb18dailynews.jpg"}
%p.center
  %img{:src => "/articles/news/raptorarticle.jpg"}
%p.center
  %img{:src => "/articles/news/articlew.jpg"}
%p.center
  %img{:src => "/articles/news/observerdec06.jpg"}
%p.center
  %img{:src => "/articles/news/augphoto.jpg"}
%p.center
  %img{:src => "/articles/news/augarticle.jpg"}
%p.center
  %img{:src => "/articles/news/sonyarticle.jpg"}
%p.center
  %img{:src => "/articles/news/newsmay7.gif", :width => 600}
%p.center
  %img{:src => "/articles/news/herald3.jpg"}
%p.center
  %img{:src => "/articles/news/news.jpg"}
%br
%hr
%br
%p.center
  %a{:href => "http://www.canadahelps.org/CharityProfilePage.aspx?CharityID=57359&Language=en", :target => "_blank"}
    %img{:src => "/articles/news/canadahelps.gif"}

