%div.twocolumn
  %div.first_col
    %a{:href => '/articles/newsletter_2010_1.pdf', :target => '_blank'}
      %img{:src => '/articles/newsletter_2010_1.jpg', :width => 425}
  %div.second_col
    %a{:href => '/articles/newsletter_2010_2.pdf', :target => '_blank'}
      %img{:src => '/articles/newsletter_2010_2.jpg', :width => 425}
%br.clear
%div.twocolumn
  %div.first_col
    %a{:href => '/articles/newsletter_2010_3.pdf', :target => '_blank'}
      %img{:src => '/articles/newsletter_2010_3.jpg', :width => 425}
  %div.second_col
    %a{:href => '/articles/newsletter_2010_4.pdf', :target => '_blank'}
      %img{:src => '/articles/newsletter_2010_4.jpg', :width => 425}
%br.clear
%br.clear
- keys = @newsletters.keys.sort.reverse
- keys.each do |key|
  %p
    %strong= key
    &nbsp; &nbsp;
    - @newsletters[key].each_index do |i|
      %a{:href => "/articles/#{@newsletters[key][i]}", :target => "_blank"}
        page
        = (i + 1).to_s
        &nbsp; &nbsp;
