%div.tvshow
  %div.first_col
    %img{:src => '/images/theTVseries.jpg', :width => 575}

  %div.second_col
    %p
      Hope for Wildlife is now in Post Production for Season II!
    %p
      More than 1000 injured and orphaned animals pass through Hope for Wildlife each year. And now Hope is tending to hundreds of stray dogs and cats, too! It's impossible to know what the busy season will bring Hope. One thing for certain - this will be Hope's busiest year ever.
    %p
      Get ready for Season 2 airing this spring on Oasis HD. Miss Season 1? It's airing now on BC's knowledge network!

    %p.strong
      Don't forget: You can purchase your very own copy of Season 1 on DVD for the first time ever at a special discounted price at our
      %a{:href => '/pages/news_and_media/upcoming_events'}
        Coffee House
      on April 3rd.
    %br
  
    %div{:style => 'float: right; font: smaller;'}
      %a{:href => 'http://www.arcadiatv.com'}
        www.arcadiatv.com
      %br
      %a{:href => 'http://www.oasishd.com'}
        www.oasishd.com
      %br
      %a{:href => 'http://www.knowledge.ca'}
        www.knowledge.ca

%br.clear

