%div.twocolumn
  %div.first_col
    %img{:src => '/images/book500.jpg', :width => 400}

  %div.second_col
    %h5
      Hope for Wildlife
    %h6
      True Stories of Animal Rescue
    %p
      Since 1997, thousands of animals have been saved through the tireless efforts of the staff and volunteers at Hope for Wildlife, a Nova Scotia wildlife rehabilitation centre. Some animals’ stories were so unique that they garnered national attention— such as founder Hope Swinimer’s battle with the department of natural resources over Gretel, a member of the endangered pine marten species. Each creature comes with its own challenges, either through a difficult injury or a quirky personality—like Lucifer the inexplicably bald and ornery raccoon—but each patient leaves an indelible mark on the lives of those around them. Hope for Wildlife tells the stories of fourteen different wild animals that have passed through the centre. Colour photographs of the animals and the centre’s efforts supplement the text, and info boxes offer further information on the region’s wildlife. The stories in Hope for Wildlife are educational, heartwarming, and sometimes heartbreaking—but always filled with hope.
    %p
      About the Author:  Ray MacLeod is a retired teacher, and a former columnist and reporter with the The Chronicle Herald and several other news- papers. His creation of a full-credit high school applied journalism course won him the 1993 Hilroy Fellowship for outstanding innovation in Canadian education. Ray is a former information officer for the Newfoundland Department of Resources and a life-long outdoorsman and naturalist. He lives in Waverley, Nova Scotia.
    %p
      $19.95
      %br
      %br
      Nimbus Publishing
      %br
      Paperback • 176 pages
      %br
      6.25 x 8.75 inches
      %br
      9781551098173
      %br
      1551098172

%br.clear
