%div.lgcenter
  %img{:src => "/articles/booklaunchinvites.jpg", :width => 500, :style => "padding: 20px 0 20px 250px"}

-# %div.lgcenter
-#   %a{:href => "/articles/coffee_house_2011.pdf", :target => "_blank"}
-#     %img{:src => "/articles/coffee_house_2011.jpg", :width => 700}
