%div.lgcenter
  / %p Click to view/download the full pdf.
  %p
    %a{:href => "/images/camp_flyer.jpg", :target => "_blank"}
      %img{:src => "/images/camp_flyer.jpg", :width => 600, :style => "padding: 20px 0 20px 170px"}

-#    %a{:href => "/articles/booklaunchinvites.pdf", :target => "_blank"}
-#      %img{:src => "/articles/booklaunchinvites.jpg", :width => 500, :style => "padding: 20px 0 20px 220px"}

-# %div.lgcenter
-#   %a{:href => "/articles/coffee_house_2011.pdf", :target => "_blank"}
-#     %img{:src => "/articles/coffee_house_2011.jpg", :width => 700}
