%p
  Before attempting to capture an animal, please or visit our “What to do in an emergency” section (link) to determine of an animal is truly in need of assistance. If you have any doubts,
  %a{:href => "/pages/contact_us"}
    contact us,
  and we will be happy to help!

%p 
  Never attempt to capture an animal if you are uncomfortable doing so or if your safety is at risk. If at all possible, place a box or a laundry hamper over the animal and hold in place with a rock or other heavy object until help arrives. This will keep the animal from running off while help is en route.
 
%p
  Never attempt to capture an animal that will likely cause you harm (i.e. birds of prey, adult raccoons, coyotes, etc.) Always call for help and wait for a trained rescuer.
 
%p
  Choose a link for information on how to safely contain and transport an injured animal:

%div.lgcenter.center
  %a{:href => "#birds"}
    Birds
  %br
  %a{:href => "#mammals"}
    Mammals
  %br
  %a{:href => "#tt"}
    Transport Tips

%div.para
  %strong
    %a{:name => "birds"}
      Birds
  %br
  %strong
    What you will need:
  %ol
    %li
      %strong
        Towel or blanket
      (a shirt can also be used if neither are handy) - These are very useful for a number of reasons: to corral and capture an animal, provide a barrier between the animal and yourself, it calms and contains the animal while being handled, and provides a soft, warm surface to sit or lay on in the bottom of a box or pet carrier.
    %li
      %strong
        A sturdy cardboard box, plastic storage tub with holes, or pet carrier
      \-- Not only does the container hold the bird, the dark, quiet environment calms the animal. If you are using a pet carrier, put a towel over it after the animal is successfully contained to darken the interior. Never use metal or wire cages to contain a bird. The bars can cause feather, beak, and foot damage. If at all possible, try to select a container that is big enough for the animal but small enough to minimize excess movement
    %li
      %strong
        Thick, heavy gloves
      \-- Heavy leather gloves are necessary when handling certain species to protect your hands. Latex or rubber gloves should be worn when handling any animal to prevent transfer of disease or parasites.
    %li
      %strong
        Eye Protection
      \-- eye protection is essential when dealing with large birds with long, sharp beaks (such as herons, cormorants, bitterns, loons, and gannets). Many of these birds instinctually target the eyes of what they deem a predator (i.e. you). They can severely injure or even kill an unprotected person if they spear through an eye.
    %li
      %strong
        Net
      \-- Butterfly or fishing nets may be useful to catch birds. Nets with finer mesh are more useful as it is more difficult for a bird to damage its feathers, feet, and beak.
    
  %br
  %br
  %strong
    Capturing Techniques
  %br
  %ol
    %li
      %strong
        Box-over Technique:
      This is achieved by simply placing a box over the animal. Once this is done, shimmy a piece of cardboard or any handy sturdy item under the box and carefully turn it on its side then right-side up. Securely close the top.
    %li
      %strong
        Towel Capture:
      Simply place towel or blanket over the entire bird (head included). If bird is mobile, herd it up against a fence, wall, or out can also chase the bird into high grass or other areas where the bird has difficulty moving and cover it with a towel. You may need one or more helpers to help corral the bird. Once covered, gently pick the bird up by the body with a hand over each wing to keep the bird flapping its wings. If the bird has an injured wing that is dragging, do not attempt to force the wing back into place. Hold the good wing against the body with one hand and the body below the injured wing with the other hand. Be careful to not squeeze the bird too tightly as this could interfere with the bird’s breathing. Place the bird gently in a container.
    %li
      %strong
        Net Capture:
      If you are using a net, cover the bird completely with net but use a towel or blanket to pick the bird up. Never lift a bird trapped in a net. This can cause further entanglement and damage feathers, beak, and feet. You may need to hold the bird down with the net while a second person covers it with a towel or blanket and picks it up.
    %li
      %strong
        Shed or Garage Capture:
      It may be necessary to lure a mobile bird into a closed structure in order to capture it. For this, you need to leave food at the door of an open shed or garage door at the same time every day.  Once the bird starts coming for food, move the food further indoors. When the bird goes in to eat, close the door behind it. You can either attempt to capture the bird yourself using the above methods or you can leave the bird contained within the shed or garage until help arrives.

  %br
  %br
  %strong
    %a{:name => "mammals"}
      Mammals:
  %br
  %strong
    What you will need:
  %ol
    %li
      %strong
        Towel or blanket
      (a shirt can also be used if neither are handy) - These are very useful for a number of reasons: to corral and capture an animal, provide a barrier between the animal and yourself, calms and contains the animal while being handled, and provides a soft, warm surface to sit or lay on in the bottom of a box or pet carrier.
    %li
      %strong
        A sturdy cardboard box, plastic storage tub with holes, or pet carrier
      \-- For larger, adult mammals, a cardboard box may be insufficient to contain it. An animal (such as a raccoon or fox) may chew through cardboard so a pet carrier would be best.  Not only does the container hold the animal, the dark, quiet environment calms the animal. If you are using a pet carrier, put a towel over it after the animal is successfully contained to darken the interior. If at all possible, try to select a container that is big enough for the animal but small enough to minimize excess movement
    %li
      %strong
        Thick, heavy gloves
      \-- Heavy leather gloves are necessary when handling certain species to protect your hands. Latex or rubber gloves should be worn when handling any animal to prevent transfer of disease or parasites.
    %li
      %strong
        Net
      \-- Butterfly or fishing nets may be useful to catch mammals. 
    %li
      %strong
        Live Traps
      \-- always call for advice before using a trap to capture a mammal

  %br
  %br
  %strong
    Capturing Techniques:
  %ol
    %li
      %strong
        Box-over Technique:
      This is achieved by simply placing a box over the animal. Once this is done, shimmy a piece of cardboard or any handy sturdy item under the box and carefully turn it on its side then right-side up. Securely close the top. Only use this method for an animal that will not chew its way through the box during transport. If the animal is not standing or will otherwise be thrown around if the box is tipped, tie rope or twine around the box at either end securing the piece of cardboard or other material to the box and transport it as is.
    %li
      %strong
        Towel Technique:
      This technique should only be used with heavy gloves and only if there is little risk of injury to the rescuer. Even a squirrel can deliver a nasty bite. Cover the animal completely and quickly but gently pick it up and place it a container
    %li
      %strong
        Net Capture:
      This technique should generally be used by trained individuals only
    %li
      %strong
        Live Trap Capture:
      Always call for species specific advice before attempting to capture the an animal in a live trap.

  %br
  %br
  %strong
    %a{:name => "tt"}
      Transporting Animals:
  %br
    Once the animal is safely contained within a box, storage tub, or pet carrier, place a blanket or garbage bag in your vehicle underneath the container to prevent mess should anything leak. If the animal can see out, cover it with a blanket or towel. Place the container in your vehicle so that it remains upright and flat. The best place to place the box is on the floor behind the driver or passenger seat. If this is not possible, place the box as close to center of the car as possible to minimize the impact of sharp turns and rough road surfaces. Do not transport an animal in the open bed of a truck if possible. To minimize stress, turn off the radio or anything else that could make noise. Do not rush, obey all traffic laws.
  %br
  Note: if you are transporting more than one baby animal from the same litter or nest, always keep them together so that they can share body heat.
 
