%p
  There is often nothing more inconvenient to find a raccoon has ripped open your garbage bags or a skunk has taken up residence under your porch. Fortunately, there are many simple things you can do to alleviate or avoid human-wildlife conflicts while still coexisting peacefully with your wild neighbours.

%p
  With less and less habitat available for wild animals to live, wildlife-human conflicts will increase. We believe that tolerance and education is the key to ensuring that wildlife is not always on the losing end. Most peoples' reaction - trapping and/or killing wildlife - should be a last resort option only.
  The first step
  is to fix the real problem - find out why the animal is attracted to a
  particular
  area and remove what is attracting it. Removing the animal first only opens
  up an
  opportunity for another animal to take its place - and it will unless steps
  are
  taken to make an area less attractive for wildlife. In addition to not being
  a simple solution,
  trapping can result in mother animals being separated from their helpless offspring or, in the case of animals like chipmunks, leave them vulnerable by releasing them far from the safety of their burrow systems. Poisons are also something that should be used rarely or never at all. Poisons are indiscriminate killers; you don’t know what is coming into contact with it.

%hr

%p
  Choose a link to below find information on how to prevent and fix conflicts
  with wildlife around your home:

%div.twocolumn
  %div.left
    %ul
      %li
        %a{:href => "#pets"}
          Pets
      %li
        %a{:href => "#bins"}
          Garbage and Green Bins
      %li
        %a{:href => "#composts"}
          Composts
      %li
        %a{:href => "#barbeques"}
          Barbeques
      %li
        %a{:href => "#baths"}
          Birdfeeders and Baths
      %li
        %a{:href => "#windows"}
          Windows
  %div.right
    %ul
      %li
        %a{:href => "#vents"}
          Vents
      %li
        %a{:href => "#chimneys"}
          Chimneys
      %li
        %a{:href => "#holes"}
          Holes in Your Home
      %li
        %a{:href => "#sheds"}
          Sheds, Decks and Crawl Spaces
      %li
        %a{:href => "#rafters"}
          Rafters
      %li
        %a{:href => "#lawns"}
          Lawns and Gardens

%br.clear

%p.strong
  %a{:name => "pets"}
    Pets

%p
  Always supervise pets when outdoors. Dogs roaming at large at risk of tangling with a wild animal (i.e. a porcupine or skunk) resulting in injury or worse to either the dog or the animal. To avoid this, keep dogs on leashes or in fenced in backyards.

%p
  Cats are also at risk if left to roam unsupervised. They often injure or kill animals that are smaller than them and can be attacked by animals bigger than them. Try to keep cats indoors at all times or at least bring them in at night when they are most at risk.

%p
  Leaving pet food outside can also attract wildlife to your property. Keep pet food and their bowls inside at all times.

%p
  If you pet, or by some unfortunate circumstance you, get sprayed by a skunk, immediately remove any collars, bandanas, clothes, etc. and clean them. Take a shower or bath the pet immediately. Use a hose outside if at all possible to avoid tracking the smell into your home. Tomato juice or vinegar does not work to neutralize skunk odour. You can buy commercial skunk remover from local hardware stores or this homemade remedy:

%p
  ¼ cup baking soda, 1 cup 3% hydrogen peroxide, and 1 tablespoon liquid laundry or dish soap

%p
  Wash with this solution and do not get it in your or your pet’s eyes. Rinse off after 5 minutes and repeat if necessary. Do not store the solution. The peroxide and baking soda produce gas that can cause a sealed container to explode.

%p.strong
  %a{:name => "bins"}
    Garbage and Green Bins

%p
  Most people encounter wildlife around their home through their garbage. Garbage bags left out is a free meal to an opportunistic and hungry animal. Store garbage in proper containers to keep an animal from ripping open the bags.

%p
  Putting garbage bags in bins does not always keep animals out. A determined raccoon can often find a way to crack them open. Keeping the bins in a shed or garage can be the best way to keep them out. If you cannot store them this way, use bungee cords and heavy rocks or bricks to keep the lids closed. Also, tie the bins to something to keep them upright. It is easier for an animal to get the lids off once the bins are tipped over. A variety of wildlife resistant bins are also available in local hardware stores.

%p
  People who live in areas where bears are coyotes are present need to be extra vigilant about their garbage. They are less likely to come around your home if there is no food to be found. Not only should you keep garbage bins in a shed or garage, you should also freeze any meat scrapes, fish, bones, seafood shells, and fruit and vegetable waste and put it in the bin when you put the bins out for pick-up. Put bins out the morning of pick-up, not the night before. Clean green bins with a solution of 1 part bleach to 9 parts water after every pick-up.

%p.strong
  %a{:name => "composts"}
    Composts

%p
  Do not put meat, fish, seafood shells, fat, bones, etc. in backyard composts. Mix and turn the pile regularly. If the compost is getting too smelly, cover the pile in lime to minimize the odour.

%p.strong
  %a{:name => "barbeques"}
    Barbeques

%p
  Run barbecues on high after every use to burn off bits of food and clean after every use. Keep them covered when not in use.

%p.strong
  %a{:name => "baths"}
    Birdfeeders and Baths

%p
  If your birdfeeder is attracting unwanted animals (i.e. bears), it may be necessary to remove them for a while to discourage that animal from coming around.

%p
  The feeders can also be mounted on tall metal poles more than 6 feet high. Some hardware and garden supply stores sell birdfeeders and products that prevent or discourage certain animals from accessing the seed.  If they do not work, return them to the place you purchased them from.

%p
  If you use birdfeeders, make sure you use food that is good for the birds in your area. This may require you to do a little research on the birds in your area. Bread has little to no nutritional value.

%p
  Check feeders regularly and remove seed that has gone mouldy or rotting food. Clean feeders every so often.

%p
  Suet is a type of bird feed that contains fat. If using this type of feed, hang it in the shade to prevent it from going bad quickly in hotter weather. You may also cut suet blocks into smaller pieces and put out one piece at time to avoid spoiling. Keep the rest frozen when not using.

%p
  Make sure feeders are hung in area where cats cannot hide nearby and pounce on unsuspecting birds.

%p
  Do not hang feeders close to windows as this increases the chance of a bird striking the window and injuring itself.

%p
  Bird baths should be emptied and cleaned every so often to avoid bacteria build up. Make sure birdbaths are placed in an area that is shaded to avoid algae build up in hotter weather but far enough away from places where cats can hide and pounce on the birds

%p.strong
  %a{:name => "windows"}
    Windows

%p
  Birds often get injured flying into windows. Reflections of trees and other surroundings look like open spaces to birds causing them to fly straight into the glass.

%p
  Placing silhouettes of hawks and falcons in windows or stickers and decals on them can deter birds from fly into them.

%p
  Another technique is wiping a window down with soapy water. When it dries, the film of soap eliminates reflections in the glass.

%p.strong
  %a{:name => "vents"}
    Vents

%p
  Dryer and other vents in the side of homes can make ideal nesting sites or entry points in to your home for small animals like starlings and squirrels. Nests in dryer vents can be a potential fire hazard when the dryer is running. Cover all vents with commercially available vent covers or secure wire mesh over the vents.

%p.strong
  %a{:name => "chimneys"}
    Chimneys

%p
  Be sure to keep all chimneys properly capped to keep wildlife from entering your home or nesting in the chimney.

%p.strong
  %a{:name => "holes"}
    Holes in your Home

%p
  Small holes or gaps around your home can give some animals access to your home’s interior. A hole only needs to be the size of a quarter to allow an animal in. Animals like rats and raccoons can get through any hole they can fit their heads through by twisting and contorting their bodies to follow.

%p
  Twice a year, walk about the perimeter of your home and check for holes in the foundation or siding, gaps around windows and doors, and holes around the roof. Plug, cover, or repair the holes and gaps accordingly.

%p
  Keep trees or bushes near the house trimmed back as some animals can use them to reach the holes. Also trim back shrubbery and high grass and move rock and wood piles from around the base of your home that would provide cover for small animals.

%p.strong
  %a{:name => "sheds"}
    Sheds, Decks, and Crawl Spaces

%p
  Some animals, including foxes, skunks, and porcupines, can take up residence under structures around your home. To prevent this, install wire mesh or lattice around the bottom of sheds, decks, porches, or the crawl spaces under houses. The mesh or lattice should extend 1 to 2 feet beneath the ground and out at a 90 degree angle from the structure to prevent an animal from digging its way under it.

%p.strong
  %a{:name => "rafters"}
    Rafters

%p
  Some birds like to roost or nest in under overhangs or in rafters of sheds, porches, etc. Simply staple mesh or netting up like a ceiling

%p.strong
  %a{:name => "lawns"}
    Lawns and Gardens

%p
  The plants we often grow on our properties are good food sources for a variety of wild animals. It can be a frustrating battle of wills to outsmart hungry critters determined to make a meal of your daffodils and other plants. While you may not always be successful, there are ways to protect your plants.

%p
  When first planting, cover the area with wire mesh with holes small enough to prevent animals from digging up seeds and bulbs but big enough to allow plants to grow through. Commercial bulb protectors and repellents are also available at garden supply centers.

%p
  For seedlings and other small plants, cut the bottom off soda bottles or plastic jugs. Place them over the plants and push them into ground a few centimeters.

%p
  In more large scale situations, fences are wire mesh cages can be placed around groups of plants. Tying metallic streamers to the tops of dowels or stakes stuck in the ground every few feet can also discourage wildlife.

%p
  Check with local garden supply centers for commercial plant protectors or plant species that wildlife in your area will avoid.

%p
  Scarecrows and other scare devices do actually work. The trick is to change or them around once or twice a week to prevent the animals from getting used to them. Silver balloons tied to a branch or hanging aluminum pie plates from a branch so that they move in the wind are two examples or scare devices. Metallic ones work best and secure them loosely so that they can move freely when the wind blows. Scarecrows can also work. Just change the hat once in a while and move it to a different location frequently.

%p
  Whenever possible, grow native plant species and encourage wildlife to share your backyard.

