%p
  Volunteers are the Lifeblood of our organization. We would like to thank all of the amazing people who dedicate countless hours to helping wildlife in Nova Scotia. We couldn’t do it without you!

%p
  We’re very excited to welcome 2 new members to our staff: Rebecca Michelin and Nicole Payne. Rebecca and Nicole will be with us for the next 8 months under a project funded through the Canada-Nova Scotia Labour Market Development Agreement under the direction of Employment Nova Scotia.

%p
  Click on the links below to find out more about our staff and volunteers.

= haml_partial "partials/_submenus", :locals => { :page => 'about_us/our_team', :submenus => @submenus, :columns => 2, :column_headers => nil }
