#text
  %p
    Hope took in her first rehab animal, a robin that had been attacked by a cat, in 1995 while working as a Manager at the Dartmouth Veterinary Hospital. The veterinarians at the hospital did not know what to do with the injured bird, so Hope took it to her home in Eastern Passage and starting doing research on caring for injured wildlife. As her knowledge grew, the veterinary staff would refer calls about orphaned and injured wildlife to Hope. She continued to do research and learn more about the subject. Later that year, Hope took a Wildlife Rehabilitator’s course and obtained a certificate in Basic Wildlife Rehabilitation from the International Wildlife Rehabilitation Association. Hope and her good friend, Lisa Butcher, developed a plan to create a wildlife rehabilitation centre to offer proper care to injured and orphaned wildlife in Nova Scotia.

  %p
    With just a few cages in the backyard, and a room in her house for a nursery, Hope rehabbed about 40 animals in her first year.

  %p
    By 1996, word of the rehab grew and the Department of Natural Resources heard about the work that Hope was doing. DNR told Hope that what she was doing required a permit. However, such a permit did not exist in the province at that time.

  %p
    Hope met with Doug Archibald, a Biologist with DNR, to figure out how Hope could become licensed. Since this was completely new to DNR,  they used theUnited States as a model to create the rules for wildlife rehabs in Nova Scotia.

  %p
    During the process of becoming licensed, it became apparent that the current property wouldn’t accommodate the growing numbers of wildlife. When a rehab skunk sprayed at the property, the neighbours made it pretty clear that they did not want a rehab in their neighbourhood!

  %p
    While relocating to Winnie’s Way in Seaforth in 1997, Hope finally received her rehabilitator’s permit. The Eastern Shore Wildlife Rescue and Rehabilitation Centre became the first privately owned wildlife rehabilitation centre in Nova Scotia. As a part of her mission to rehabilitate wildlife, Hope focused much of her attention on educating the public to avoid causing conflicts with wildlife. Her main audiences were children, and Hope welcomed many school and community groups to her home to spread the word about caring for and respecting wildlife in Nova Scotia.

  %p
    The rehab grew quickly and Hope soon realized that she needed help. The first volunteer drive was held in 1998. An ad in the Chronicle Herald attracted over 30 people, and of those 30, 4 became regular volunteers.  At that time,  Hope was receiving about 200 animals per year. Although the property at Winnie’s Way was well equipped with a nursery, several small mammal cages, and a few larger cages tucked away in the woods, the demands of the rehab quickly outgrew the property and the neighbours’ welcome. Hope began to search for a larger property that would accommodate the rehab’s needs and still leave room to grow.
  
  %p
    In 2001, Hope relocated to the current property at 5909 Highway 207. Initially she had brought the cages and the nursery trailer with her, to add to the barn and storage shed already on the property. 

  %p
    In September  2002, Hope held the first Open House day. It was a small event featuring a barbeque and some live music, but it also offered the chance for the public to learn about the efforts of the rehab and meet some wildlife. Now an annual event, the Open House has won the ‘Home Town Pride’ Award for best festival or event, and is a major fundraiser for the rehab. The barbeque and the live music are always a staple at the Open House, but it has also grown to include auctions, demonstrations, activities and wildlife displays.  Hope for Wildlife also hosts an annual Coffee House in April, and a Gala Dinner and Auction to help raise funds.  The first Gala in 2008 raised over $16,000!

  %p
    In 2006, the Eastern Shore Wildlife Rescue and Rehabilitation Centre officially became the Hope for Wildlife Society. Another big change in 2006 was the addition of the White-tailed deer rehabilitation facility. The Hope for Wildlife Society started rehabbing white-tailed deer after province would no longer allow the Shubenacadie Wildlfie Park to keep captive deer together with rehabilitated deer. The new deer enclosure is ½ acre enclosure and a barn with stalls for the youngest deer. In 2007, ongoing renovations in the barn lead to a new nursery to replace the small trailer. A 100ft flight cage was built so Hope for Wildlife could rehabilitate Birds of Prey, and the Learning Centre was created to welcome visitors and help teach about the rehabilitation centre and Nova Scotia Wildlife.

  %p
    Now, over 15 years since it all began, the Hope for Wildlife Society has grown to over 75 volunteers and rehabilitates over 1500 animals per year from all over the province. Funding still comes from donations, as well and corporate and government grants, community groups, and our 3 annual fundraisers.

#images
  - get_random_photos(7, 'story').each do |photo|
    %img{:src => "/images/#{photo}"}
