#home_animals.span-12
  %img{:src => "/images/home_animals.jpg"}
  %br
  #because.align_right
    \...because they matter.

#home_banner.span-12
  %h1
    The Hope For Wildlife Society
  %p
    Connecting people to wildlife in a positive way - through knowledge
    and understanding - the Hope for Wildlife Society believes that
    education through rehabilitation is the key to a sustainable future.
