#page_title
  - if File.exist? "public/images/headers/#{@page}.jpg"
    %img{:src => "/images/headers/#{@page}.jpg"}
  - else
    = format_menu_name @page

#photos
- @photos.each do |photo|
  %img{:src => "/images/#{photo}", :width => 250}

