$fontFamily: Cambria
$fontSize: 14px
$textLineHeight: 18px
$bodyBackgroundColor: #fff
$mainBackgroundColor: #798436
$inbetweenBackgroundColor: #8d9654
$lightBackgroundColor: #a1a972
$menuBorderColor: #ccc
$textColor: #000
$menuTextColor: #000
$footerFontColor: #444
$footerFontSize: 90%
$buttonBackgroundColor: #798a69
$greyboxBackgroundColor: #ccc
$menuHoverColor: #a1a972

body
  :background
    :color $bodyBackgroundColor
  :font
    :family $fontFamily
    :size $fontSize
  :color $textColor
  :line-height $textLineHeight

#menu
  :width 100%
  :background
    :color $mainBackgroundColor

#header
  :margin 0
  :padding 0

  #home_animals
    :float left
    :margin 0px
    :pading 0px
    
    #because
      :margin
        :top 0%
        :right 7%
      :font
        :family "bradley hand ITC"
        :style italic
        :size 80%

  #home_banner
    :float right
    :text-align center
    :margin 1.5% 1% 1% 0%

    h1
      :margin
        :bottom 5px
      :padding 0px
      :font
        :size 190%
    p
      :margin 0px
      :padding 0px
      :font
        :size 135%
        :style italic

  #spacer
    :float left
    :width 20%

  #page_title
    :float left
    :width 20%
    :text-align center
    :line-height 150px
    
    span
      :position absolute
      :text-align center
      :font
        :size 150%
      :line-height 20px
      :margin
        :left 5%
        :right 5%

  #photos
    :float right
    :background
      :color $mainBackgroundColor
    :margin
      :bottom 0
    :padding 0

    img
      :height 100%
      :float right
      :margin 0
      :padding 0

#content
  :margin 0
  :padding 0

  h2
    :font
      :size 300%
      :style italic
    :text-transform uppercase
    :text-align center

  h3
    :text-transform uppercase
    :text-align center

  h5
    :font
      :size 150%
      :weight bold
  
  h6
    :font
      :size 130%
      :weight bold

  a
    :text-decoration none

  .img_container
    :margin
      :left 26%
      :right 20%
      
    img
      :width 250px
      :margin
        :left 20%
        :right 20%

  #text
    :float left
    :width 50%

  #images
    :float right
    :width 40%
    :margin
      :top 20px

    img
      :width 250px
      :margin
        :bottom 20px

  p, h4, ul
    :margin 10px 10px 20px 10px

    img.icon_and_blurb
      :vertical-align middle

  div.para
    :margin 10px 10px 20px 10px

  div.twocolumn
    :margin 10px 10px 20px 10px
    :width 95%

    div.first_col
      :float left
      :padding
        :right 10px
      :width 45%

    div.second_col
      :float left
      :width 50%

  ol
    :margin 10px

    li
      :margin
        :bottom 10px
  
  #home_left
    :float left
    :margin 5px
    :background
      :color $menuHoverColor

  #home_img
    :float left
    :position relative
    :background
      :image url("/images/home2.jpg")
    
    img
      :width 540

  #buttons
    :margin
      :right 10%
      :left 10%

    #left
      :float left

    #right
      :float right

    a
      :display block
      :padding 3px 0px 3px 10px
      :margin
        :bottom 10px
      :width 80%
      :color $textColor
      :background
        :color $buttonBackgroundColor

    .column_header
      :margin
        :bottom 5px

#footer
  :background
    :color $mainBackgroundColor
  :font
    :color $footerFontColor
    :size $footerFontSize

  #blurb
    :float left
    :font
      :size 90%
    :margin
      :top 2.05%
    :padding 5px 0px 5px 10px

  
  #follow_us
    :float right
    :padding 5px 0px 5px 10px

    img
      :vertical-align middle
      :padding
        :left 5px

.align_right
  :text-align right

.clear
  :clear both

.greybox
  :background
    :color $greyboxBackgroundColor
  :border 1px solid #000
  :margin
    :left 20%
    :right 20%

.center
  :text-align center

div.twocolumn
  :margin
    :right auto
    :left auto
  :width 500px
  :padding 10px 10px 10px 10px

  div.left
    :float left
    :padding
      :right 50px

  div.right
    :float left

div.lgcenter
  :margin
    :right auto
    :left auto

// Drop down menu

#dropdown
  :margin
    :right 7%
    :left 7%

  ul
    :list-style none
    :margin 0
    :padding 0

  a, h2
    :font
      :family $fontFamily
    :display block
    :border
      :width 0px
      :style solid
      :color $menuBorderColor
    :margin 0
    :padding 2px 3px

  h2
    :color $menuTextColor
    :background
      :color $mainBackgroundColor
    :font
      :size 100%
    
  a
    :color $menuTextColor
    :background 
      :color $mainBackgroundColor
    :text-decoration none
    :padding 5px 10px 5px 10px
    
    &:hover
      :background
        :color $menuHoverColor

  li.inline
    :float left
    :z-index 100

  li
    :position relative

  ul
    ul
      :padding 5px
      :background
        :color $inbetweenBackgroundColor
      :position absolute
        :bottom 100%
        :left 0
      :display none

      a
        :background
          :color $inbetweenBackgroundColor

      ul
        :position absolute
        :top 0
        :left 100%
        :width 100%
        :margin
          :left 0px

    li:hover
      ul
        :display block
        :width 250%
        ul
          :display none

      li:hover
        ul
          :display block
          :width 150%

.container
  :border 1px solid #000

.round
  -moz-border-radius: 10px
  -webkit-border-radius: 10px
  :border-radius 10px

.main_bg_color
  :background
    :color $mainBackgroundColor

.light_bg_color
  :background
    :color $lightBackgroundColor

.float_right
  :float right
  
.float_left
  :float left

.small
  :line-height 110%

br.wide
  :padding
    :bottom 20px

br.homeleft
  :height 100px
  :margin
    :top 100px
    :bottom 100px

hr
  :width 80%
  :margin
    :right 10%
    :left 10%
  
.strong
  :font
    :weight bold
    
