$fontFamily: Verdana
$fontSize: 14px
$bodyBackgroundColor: #fff
$mainBackgroundColor: #798436
$lightBackgroundColor: #a1a972
$menuBorderColor: #ccc
$textColor: #000
$menuTextColor: #000
$footerFontColor: #444
$footerFontSize: 90%
$buttonBackgroundColor: #798a69

body
  :background
    :color $bodyBackgroundColor
  :font
    :family $fontFamily
    :size $fontSize
  :color $textColor

#menu
  :width 100%
  :background
    :color $mainBackgroundColor

#header
  :margin 0
  :padding 0

  #home_animals
    :float left
    :margin 0px
    :pading 0px
    
    #because
      :margin
        :top -1%
        :right 15%

  #home_banner
    :float right
    :text-align center

    h1
      :margin 0px
      :padding 0px
      :font
        :size 170%
    p
      :margin 0px
      :padding 0px
      :font
        :size 120%
        :style italic

  #page_title
    :float left
    :width 20%
    :text-align center
    :line-height 170px
    :font
      :size 150%
    
    span
      :position absolute
      :text-align center
      :margin
        :left 5%
        :right 5%
        :top 180%

  #photos
    :background
      :color $mainBackgroundColor
    :margin
      :right 2%
      :left 2%
      :bottom 0

    img
      :height 100%
      :float right

#content
  :margin 20px
  :padding 0

  a
    :text-decoration none

  #buttons
    :margin
      :right 10%
      :left 10%

    #left
      :float left

    #right
      :float right

    a
      :display block
      :padding 3px 0px 3px 10px
      :margin
        :bottom 10px
      :width 80%
      :color $textColor
      :background
        :color $buttonBackgroundColor

#footer
  :background
    :color $mainBackgroundColor
  :font
    :color $footerFontColor
    :size $footerFontSize

  #blurb
    :float left
    :margin
      :top 1%
    :padding 5px 0px 5px 10px

  
  #follow_us
    :float right
    :padding 5px 0px 5px 10px

    img
      :vertical-align middle
      :padding
        :left 5px

.align_right
  :text-align right

.clear
  :clear both

// Drop down menu

#dropdown
  :margin
    :right 7%
    :left 7%

  ul
    :list-style none
    :margin 0
    :padding 0

  a, h2
    :font
      :family $fontFamily
    :display block
    :border
      :width 0px
      :style solid
      :color $menuBorderColor
    :margin 0
    :padding 2px 3px

  h2
    :color $menuTextColor
    :background
      :color $mainBackgroundColor
    :font
      :size 100%
    
  a
    :color $menuTextColor
    :background 
      :color $mainBackgroundColor
    :text-decoration none
    :padding 5px 10px 5px 10px
    
    &:hover
      :color #a00
      :background
        :color #fff

  li.inline
    :float left

  li
    :position relative

  ul
    ul
      :padding 5px
      :background
        :color $mainBackgroundColor
      :position absolute
        :bottom 100%
        :left 0
      :display none
      ul
        :position absolute
        :top 0
        :left 100%
        :width 100%
        :margin
          :left 0px

    li:hover
      ul
        :display block
        :width 250%
        ul
          :display none

      li:hover
        ul
          :display block
          :width 150%

.container
  :border 1px solid #000

.round
  -moz-border-radius: 10px
  -webkit-border-radius: 10px
  :border-radius 10px

.main_bg_color
  :background
    :color $mainBackgroundColor

.light_bg_color
  :background
    :color $lightBackgroundColor
