%p
  The Hope For Wildlife Society, located in Seaforth, Nova Scotia,
  was founded in 1997.

%p
  Our facility is fully licensed and inspected, with a federal license
  for the rehabilitation of sea birds and a provincial license for the
  rehabilitation of indigenous wildlife.

%p
  We are the only facility in Nova Scotia licensed to rehabilitate
  white tailed deer and large birds of prey.

%p
  To learn more about the Hope for Wildlife Society, please choose a link:
