%p
  .icon_and_blurb
    %img{:src => '/images/facebook_icon.png'}
    Facebook is by far the fastest way to get a
    reply to your general questions.
  .icon_and_blurb
    %img{:src => '/images/twitter_icon.png'}
    Do you tweet? Follow us on twitter and take part in the conversation!

%p
  Have a question? Want to arrange a tour for yourself or your group?
  Wish to offer your support? Have a comment on our website?

%p
  Please feel free to contact us by mail:
  %br
  %br
  Hope Swinimer, Director
  %br
  5909 Highway 207
  %br
  Site 14 Box 1
  %br
  Seaforth, NS
  %br
  B0J 1N0

%p
  For wildlife emergencies, please call us at (902) 407-WILD (9453). Need help determining if an animal needs help? Click our Wildlife SOS link for more infomation.

%p
  EMAIL US! Please use an appropriate subject heading to help us process
  emails more efficiently, ie. “Booking a tour” or “Website comment”.
  %br
  %br
  %a{:href => "mailto:info@hopeforwildlife.net"}
    info@hopeforwildlife.net

%p.small
  PLEASE NOTE: Emails do not go directly to Hope Swinimer. 
  %br.wide
  Due to the high volume of emails received, all emails are first
  screened by a volunteer and then forwarded as appropriate.
  As we are a volunteer organization, it may take several days
  or more before your email is read. Please do not send any urgent
  emails to the Society. If your matter is urgent, please call our
  hotline at (902)407-WILD. Thank you!

= haml_partial "partials/_submenus", :locals => { :page => 'contact_us', :submenus => @submenus, :columns => 2, :column_headers => nil }
