#home_left.span-10
  %p
    The Hope For Wildlife Society is a wildlife
    rehabilitation and education centre located 20
    minutes from Dartmouth in Seaforth, Nova
    Scotia.

  %p
    If you have found injured or orhaned wildlife,
    visit our Wildlife SOS link or call us at (902) 407-
    WILD (9453) for help.

  %p
    We accept injured and orphaned wildlife 24
    hours a day, 365 days a year. Visit the Drop-offs
    link under ‘Contact Us’ for a list of drop-off
    locations and hours.

  %p
    The Hope for Wildlife Society is a registered
    Charity. Find out how you can support our work
    by visiting the Support HFW link.

#home_img.span-13
  %img{:src => '/images/home.png', :width => 560}
