%p
  References:
%p
  %a{:href => '/articles/scan0002.pdf'}
    Gray Squirrels here to stay by Ray MacLeod. Atlantic Outdoor Magazine.
    Volume 19 No. 3 Fall 2010. Pp 17-18
  %br
  %a{:href => '/articles/scan0003.pdf'}
    Page 2
%p
  %a{:href => '/articles/scan0001.pdf'}
    A Pelican named Ralph and other stories by Ray Macleod. Eastern Gazette. Nov 2010. Pp 17

= haml_partial "partials/_submenus", :locals => { :page => 'news_and_media', :submenus => @submenus, :columns => 2, :column_headers => nil }
